<!doctype html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="./javascripts/bignumber.min.js"></script>
<script type="text/javascript" src="./javascripts/web3.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./javascripts/jquery.min.1.12.4.js"></script>
<script src="./javascripts/truffle-contract.js"></script>
<script src="./javascripts/truffle-app.js"></script>
<script src="./javascripts/jquery.form.js"></script>

<link rel="stylesheet" type="text/css" href="./stylesheets/w3.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/Roboto.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/Lato.css">
<script type="text/javascript">

function search() {
  try
  {

    p1addr = $('#p1addr').val();
    App.PHRInstance.getPerson(p1addr).then(function(data) {
      //alert(data[0]);
      //alert(data[1]);
      var st = data.split("|"); // Delimiter is a string
      for (var j = 0; j < st.length; j++)
      {
        //alert(st[j]);
        /*************************
        0 : 블록체인ID
        1 : 이름
        2 : 아이디
        3 : 주민번호
        4 : 생년월일
        5 : 성별
        *************************/
        if ((j-1)%6 == 1) {// 이름
          try {
            $('#name').val(st[j]);
          } catch (e) { alert(e); }
        }
        if ((j-1)%6 == 3) { // 주민번호
          try {
            $('#registNum').val(st[j]);
          } catch (e) { alert(e); }
        }
        if ((j-1)%6 == 4) { // 생년월일
        try {
            $('#birth').val(st[j]);
          } catch (e) { alert(e); }
        }
        if ((j-1)%6 == 5) { // 성별
        try {
            $('#gender').val(st[j]);
          } catch (e) { alert(e); }
        }
      }
    });
  }
  catch (e)
  {
    logs(e);
  }
}


  /***************************************************
    병원에서 개인의 블록체인에 의무기록을 등록한다.
    등록되는 정보
    진료일    treatDate
    상병코드  diseaseCode
    진료과    depart
    담당의    medStaff
    첨부url   attachKey
    문서구분  cldData
  ***************************************************/
  function medRecUpload() {
    try
    {
      message('medRecUpload....');
      var p1addr = document.getElementById("p1addr").value;

      var medOrgAddr = document.getElementById("medOrgAddr").value;
      var treatDate = document.getElementById("treatDate").value;
      var diseaseCode = document.getElementById("diseaseCode").value;
      var depart = document.getElementById("depart").value;
      var medStaff = document.getElementById("medStaff").value;
      var clsData = document.getElementById("clsData").value;

      var attachKey1 = document.getElementById("txtattach1").value;

      web3.eth.defaultAccount = medOrgAddr;

      // 정보등록자(병원) 계정 인증
      if(web3.personal.unlockAccount(medOrgAddr, $('#medOrgpass').val()))
      {
        logs("medRecUpload. unlock account");
        if (attachKey1 != "")
        {
          App.PHRInstance.appendMR(p1addr, medOrgAddr, treatDate, diseaseCode, depart, medStaff, clsData, attachKey1,{gas:3000000});
          message('wait....');
        } else {
          message('파일이 첨부되지 않았습니다.');
        }
      }
      alert("업로드 되었습니다.");
    }
    catch (e)
    {
      logs(e);
    }
  }

  function upload(){
    document.getElementById('id01').style.display='none';

    form = document.frmsubmit;
    form.target = "ifrm";
    form.action = "/upload";
    form.submit();

  }

  function appOnLoad() {
    try {
      $("#treatDate").val(App.today);

    } catch (e) {
      logs(e);
    }
  }
</script>
<style>

body {
  font-family: "Roboto";
}

.panel2 {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  right: 3%;
  position: relative;
  text-align: center;
  opacity: 0.72;
  width: 95%
}

th {
   vertical-align: middle !important;
}

td {
  text-align: left;
  vertical-align: middle !important;
}

body::-webkit-scrollbar {
    display: none;
}
/*
#hidden {
  width:1px;
  height:1px;
  border:0;
  }
  */
</style>

<body>

  <%- include('index'); -%>
  <div class="panel2">
    <div class="w3-card-2 w3-container">
      <div class="w3-row-padding w3-center">
      <h3 class="w3-left">의료기관 시스템</h3>

      <table class="w3-table" style="background-color: #eeeeee;">
        <tr>
          <td width=120> S.C </td><td><input type="text" id="scAddr" size="10" ></td>
          <td> 개인계정 </td>
          <td><input type="text" id="p1addr" size="10" value="<%=p1addr%>"/><input type="button" value="개인조회" onclick="search()"></td>
        </tr>
        <tr>
          <td width=120> 병원계정 </td><td><input type="text" id="medOrgAddr" size="10"></td>
          <td width=100> Pass </td><td><input type="password" id="medOrgpass" value="lap243lap" size="10">
          </td>
        </tr>
      </table>
      <br>
      </div>
    </div>
  </div>

  <div class="panel2">
    <div class="w3-card-2 w3-container" style="min-height:360px">
      <div class="w3-row-padding w3-center w3-margin-top " >
        <table class="w3-table-all w3-card-4 ">
          <thead><tr class="w3-black"><th colspan="4">의무기록 업로드</th></tr></thead>
          <tbody>
            <tr>
              <th class="w3-cell-middle" >환자명</th><td>: <input type="text" id="name" class="w3-border w3-border-dark-grey" value="<%=name %>" readonly="readonly" size="20" style="background-color: gray;"></td>
              <th>생년월일</th><td>: <input type="text" id="birth" class="w3-border w3-border-dark-grey" value="<%=birth %>" readonly="readonly" size="20" style="background-color: gray;"></td>
            </tr>
            <tr>
              <th>진료과</th><td>: <input type="text" id="depart" class="w3-border w3-border-dark-grey" value="내과" size="20"></td>
              <th>진료의</th><td>: <input type="text" id="medStaff" class="w3-border w3-border-dark-grey" value="박성광" size="20"></td>
            </tr>
            <tr>
              <th>진료일</th><td>: <input type="text" id="treatDate" class="w3-border w3-border-dark-grey" value="" size="20"></td>
              <th>상병코드</th><td>: <input type="text" id="diseaseCode" class="w3-border w3-border-dark-grey" value="" size="20"></td>
            </tr>
          </tbody>

        </table>
        <!-- 개인블록체인ID -->
        <br><br>
        <form name="frm" method="POST" action="upload" enctype="multipart/form-data">
        <table class="w3-table-all w3-card-4">
          <thead><tr class="w3-black" ><th colspan="2">문서 종류</th></tr></thead>
          <tbody>
            <tr>
            <td>
              <select class="w3-select" id="clsData" name="clsData" >
                <option value="소견서">소견서</option>
                <option value="처방전">처방전</option>
                <option value="입퇴확인서">입퇴확인서</option>
                <option value="영수증" selected>영수증</option>
                <option value="X레이">X레이</option>
                <option value="CT영상">CT영상</option>
                <option value="MRI">MRI</option>
              </select>
            </td>
            <td >: <iframe id="hidden" name="ifrm" class="w3-border w3-border-dark-grey w3-small" style="display:none;width:500px;height:30px;position:relative;top:8px"></iframe>
            <input type="text" id="txtattach1" name="txtattach1" class="w3-border w3-border-dark-grey" value="" size="40">

            <input type="button" id="attach1" class="w3-border w3-border-dark-grey" value="select" onclick="document.getElementById('id01').style.display='block'" >
            </td>
            </tr>
          </tbody>

        </table>
        <br>
        <br>

        <input type="button"  class="w3-btn w3-white w3-border w3-border-dark-grey w3-round-large"  value="Save" onClick="medRecUpload()">

        </form>

        <br><br>
        <div id="messages">
        </div>
        <div id="logs" style="text-align: left;"></div>

      </div>
    </div>
  </div>

  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content" style="opacity: 1;">
        <header class="w3-dark-grey">
          <h3>&nbsp;파일 업로드 경로 지정</h3>
        </header>
        <div class="w3-container">
          <form name="frmsubmit" method="POST" action="/DP2medi_upload" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="button" value="upload" onClick="upload()" >
          </form>
        <div id="status"></div>

        </div>
        <footer class="w3-dark-grey">
          <p>
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-black">닫기</button>
          </p>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
