      <form name="frmIdx">
      <table class="w3-table" style="background-color: #eeeeee;">
        <tr>
          <td>
            <a href="./DP0init"><b>[초기화]</b></a> /
            <a href="./DP1medi_find"><b>[병원]</b>:방문고객 검색</a> /
            <!--a href="./DP2medi_chart">의료기관 시스템:개인 진료 내역</a><br>
            <a href="./DP2medi_upload">의료기관 시스템:의무 기록 업로드</a><br-->
            <a href="./DP3claim_issue"><b>[고객]</b>:보험금 청구서 발행</a> /
            <!--a href="./DP4claim_doctran">스마트폰 앱(고객화면):증명서 전송</a><br-->
            <a href="./DP5claim_list"><b>[H-FS]</b>:청구리스트</a>
          </td>
          <td>
              Log : <select id="sLog" name="sLog">
              <option value="OFF" selected>Off</option>
              <option value="ON">On</option>
            </select>
          </td>
        </tr>
      </table>
      </form>

